<h1>Listing lessons</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Teacher</th>
      <th>Location</th>
      <th>Lesson type</th>
      <th>Date</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Total cost</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.student_id %></td>
        <td><%= lesson.teacher_id %></td>
        <td><%= lesson.location_id %></td>
        <td><%= lesson.lesson_type_id %></td>
        <td><%= lesson.date %></td>
        <td><%= lesson.start_time %></td>
        <td><%= lesson.end_time %></td>
        <td><%= lesson.total_cost %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_lesson_path %>
