<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @payment.student_id %>
</p>

<p>
  <strong>Lesson:</strong>
  <%= @payment.lesson_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @payment.date %>
</p>

<p>
  <strong>Method:</strong>
  <%= @payment.method %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
